* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Geneva, Tahoma, sans-serif;
}


body {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/login-img.png');
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.logo {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 10; 
  }
  
  .logo a {
    text-decoration: none;
    color: #edf6f9;
  }
  
  .logo p {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0; 
  }
  
  .logo p span {
    font-weight: 300;
  }


.wrapper {
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* For Safari compatibility */
    width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 2.5rem;
    position: relative;


    h2 {
        font-size: 2rem;
        text-align: center;
    }


}


form p {
    font-size: .8rem;
    margin-bottom: 2.5rem;
    text-align: center;
}


.input-group {
    position: relative;
    margin: 40px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);


    label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: 0.3s ease;
    }


    input {
        width: 100%;
        height: 45px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.9);
        padding: 0px;
        background: transparent;
        border: none;
        outline: none;
    }


    i {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 16px;
        transition: opacity 0.3s ease;
    }
}


.input-group:focus-within i {
    opacity: 0; 
}



.input-group input:focus + label,
.input-group input:valid + label {
    top: -1px;
    left: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
}

.input-group input::placeholder {
    color: transparent;
}

.input-group input:not(:placeholder-shown) + label,
.input-group input:focus + label {
    top: -1px;
    left: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.8) !important;
}



.login-btn {
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
    height: 45px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s;
}


.login-btn::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 155px;
    background: #fff;
    opacity: .2;
    top: -50px;
    left: -75px;
    transform: rotate(35deg);
    transition: left 600ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

.login-btn:hover::after {
    left: 120%;
}



.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
}

.account .reg {
    margin-top: 2.4rem;
    margin-bottom: 2rem;
}

.reset-link, .register-link {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}


.auth-icons {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 20px;
}

.fa-google, .fa-facebook, .fa-x-twitter {
    font-size: 1rem;
    cursor: pointer;
    padding: .8rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
}

.alert {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    font-family: Arial, sans-serif;
    z-index: 1000;
    border: 1px solid transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .alert-success {
    background-color: #E6FFFA; 
    border-color: #00A28E; 
    color: #00A28E; 
  }
  
  .alert-error {
    background-color: #FFE6E6; 
    border-color: #FF5656; 
    color: #FF5656;
  }
  
  .alert p {
    margin: 0;
    flex-grow: 1;
    padding-left: 10px;
  }
  
  .alert .alert-close {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
  }
  
  .alert .alert-icon {
    font-size: 24px;
  }
  
  .alert-success .alert-icon {
    color: #00A28E;
  }
  
  .alert-error .alert-icon {
    color: #FF5656;
  }
  