* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Geneva, Tahoma, sans-serif;
}


.logo {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 10; 
  }
  
  .logo a {
    text-decoration: none;
    color: black;
  }
  
  .logo p {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0; 
  }
  
  .logo p span {
    font-weight: 300;
  }


body {
    background: #f3f3f3;
}



section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

    .image-box {
        position: relative;
        width: 55%;
        height: 100%;
        overflow: hidden;
        
        
        img {
            background-position: left center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
        }


    }


    .wrapper {
        position: relative;
        display: flex;
        width: 45%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }


    .form-wrapper h2 {
        font-size: 30px;
        font-weight: 600;
        color: #344F5A;
        text-align: left;
        margin-bottom: 1.5rem;
    }
}


.image-box:hover img {
    transform: scale(1.1);
}


.input-group {
    position: relative;
    margin: 40px 0;
    border-bottom: 2px solid rgb(207, 207, 207);


    label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 16px;
        color: #344F5A;
        pointer-events: none;
        transition: 0.3s ease;
    }
}


.input-group input {
    width: 400px;
    height: 45px;
    font-size: 16px;
    color: #344F5A;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -1px;
    left: 20px;
    font-size: 14px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #344F5A;
}


form p {
    color: #344F5A;
    font-size: 1rem;
}


.send-mail-btn {
    position: relative;
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    background: #37A8EC;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    transition: background-color 0.3s;


    span {
        position: relative;
        z-index: 2;
        display: block;
    }
}


.close-btn {
    position: relative;
    width: 35%;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    background: #37A8EC;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    transition: background-color 0.3s;
}


.close-btn:hover {
    background: #2895d8;
}


.send-mail-btn::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 155px;
    background: #fff;
    opacity: .2;
    top: -50px;
    left: -75px;
    transform: rotate(35deg);
    transition: left 600ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

.send-mail-btn:hover::after {
    left: 120%;
}


.back-to-login {
    position: relative;
    color: #000; 
    text-decoration: none; 
    transition: transform 0.3s;
}

.back {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}


.back i.fa-arrow-left {
    transition: transform 0.3s;
}

.back:hover i.fa-arrow-left {
    transform: translateX(-10px);
}





 @media (max-width: 600px) {
    body {
        background-image: url('reset-img.png');
        object-fit: cover;
        background-position: 60% 2%;
    }

    .logo {
        color: #fff;
    }

    .image-box {
        display: none;
    }


    input {
        width: 70%;
        color: white !important;
    }

    .input-group {
        position: relative;
        margin: 40px 0;
        border-bottom: 1px solid white;


        label {
            font-size: .9rem;
        }
    }

    section {
        .image-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; 
            
        }
        
        .wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 5;


            .form-wrapper {
                border-radius: 10px;
                width: 100%;
                padding: 40px;
                background: rgb(59,42,248);
                background: linear-gradient(110deg, rgba(59,42,248,1) 0%, rgba(71,202,250,1) 100%);
                margin: 50px;


                form p {
                    font-size: .9rem;
                }


                .send-mail-btn {
                    width: 100%;
                    height: 45px;
                    font-size: 16px;
                    color: #37A8EC;
                    background: #fff;
                    border: none;
                    font-weight: 500;
                    cursor: pointer;
                    margin-bottom: 1.5rem;
                }


                h2 {
                    color: #fff;
                    font-size: 2rem;
                }
            }
        }
    }         


    .input-group label, .form-wrapper p, .back-to-login, i {
        color: white;
    }


    /* .login-link::after {
        background-color: #fff;
    } */
} 



/* Media query for screens larger than 1200px */
@media (min-width: 601px) and (max-width: 875px) {
    input {
        max-width: 70%;
        color: white !important;
    }

    .input-group {
        position: relative;
        margin: 40px 0;
        border-bottom: 1px solid white;
    }


    section {
        .image-box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; 
            
        }
        
        .wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 5;


            .form-wrapper {
                border-radius: 10px;
                width: 100%;
                padding: 40px;
                background: rgb(59,42,248);
                background: linear-gradient(110deg, rgba(59,42,248,1) 0%, rgba(71,202,250,1) 100%);
                margin: 50px;


                h2 {
                    color: #fff;
                    font-size: 2rem;
                }


                form p {
                    font-size: .9rem;
                }


                .send-mail-btn {
                    width: 100%;
                    height: 45px;
                    font-size: 16px;
                    color: #37A8EC;
                    background: #fff;
                    border: none;
                    font-weight: 500;
                    cursor: pointer;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }         

    .input-group label, .form-wrapper p, .back-to-login, i   {
        color: white;
    }

     .login-link::after {
        background-color: #fff;
    }

    
} 

.alert {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    font-family: Arial, sans-serif;
    z-index: 1000;
    border: 1px solid transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .alert-success {
    background-color: #E6FFFA; 
    border-color: #00A28E; 
    color: #00A28E; 
  }
  
  .alert-error {
    background-color: #FFE6E6; 
    border-color: #FF5656; 
    color: #FF5656;
  }
  
  .alert p {
    margin: 0;
    flex-grow: 1;
    padding-left: 10px;
  }
  
  .alert .alert-close {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
  }
  
  .alert .alert-icon {
    font-size: 24px;
  }
  
  .alert-success .alert-icon {
    color: #00A28E;
  }
  
  .alert-error .alert-icon {
    color: #FF5656;
  }
  
