# Environments
db.sqlite3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static files
staticfiles/

# Python artifacts
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
# media/
uniApp/mail_config.py

# VSCode
.vscode/

# MacOS
.DS_Store
