@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

:root {
  /* COLORS */
  --background: #D9D9D9;
  --primary: rgba(109, 0, 39, 0.9);
  --secondary: rgba(0, 78, 152, 0.9);
  --black: black;
  --white: white;
  --gray-1: gray;
  --gray-2: #eeeeee;
  --gray-3: rgb(207, 207, 207);

  /* FONTS */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Mulish", sans-serif;
  --big-heading: 3rem;
  --medium-heading: 2rem;
  --small-heading: 1.5rem;
  --paragraph: 0.92rem;
  --button-text: 16px;
  --small-text: 0.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
}

.main-container {
  width: 95%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: var(--white);
}

nav {
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo span {
  font-weight: lighter;
}

nav :where(a) {
  display: block;
  width: 155px;
  height: 10vh;
  color: var(--black);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding-top: 2.3rem;
}

.navbar .nav-logo,
.right-side .nav-links li:last-child {
  background: var(--secondary);
}

.right-side .nav-links li:nth-child(4) {
  background: var(--primary);
}

.navbar .right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-side .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side .nav-links li {
  list-style: none;
}

.navbar .nav-logo,
.right-side .nav-links li.special a {
  color: var(--white);
}

.right-side .nav-links li.special:hover {
  background: #6a7788;
}

.navbar .right-side ul {
  display: flex;
}

.navbar .right-side ul li {
  list-style: none;
}

nav a.nav-special {
  position: relative;
  transition: transform 0.3s ease;
}

nav a.nav-special::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  background-color: var(--secondary);
  z-index: -1;
  transform: translateY(5px);
  transition: transform 0.3s ease;
  height: 5px;
  margin-bottom: -5px;
}

nav a.nav-special:hover::after {
  transform: translateY(0);
}

div#right-side.right-side.active::after {
  content: none;
  display: none;
}

nav a.nav-special:hover {
  transform: translateY(-5px);
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.hamburger .fa {
  color: var(--black);
}

/* NAVBAR MEDIA QUERIES */
@media (max-width: 1250px) {
  .navbar {
    height: 8vh;
  }

  .nav-logo {
    width: 100px;
  }

  .navbar .right-side {
    display: none;
  }

  .hamburger {
    display: block;
    padding-right: 1rem;
    font-size: 1.5rem;
  }

  .navbar .right-side {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    position: absolute;
    top: 8vh;
    background: #6a7788;
    width: 95%;
    z-index: 1;
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .navbar .right-side.active {
    opacity: 1;
    transform: translateY(0);
  }

  .navbar .right-side.active ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar .right-side.active ul li {
    width: 100%;
  }

  .navbar .right-side.active ul li a,
  .navbar .right-side.active .nav-special {
    /* background-color: #6a7788; */
    color: var(--white);
    text-align: left;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    display: block;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .navbar .right-side.active ul li a:hover,
  .navbar .right-side.active .nav-special:hover {
    background-color: #afa8a87e !important;
  }

  .navbar .nav-special,
  .navbar .nav-special::before,
  .navbar .nav-special:hover,
  .navbar .nav-special:hover::after {
    background-color: transparent !important;
    transform: none !important;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
}

/* HERO SECTION */
header .hero {
  background-image: url("../images/apply_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  background-position: 40% 60%;
  padding: 5rem 10rem;
  color: var(--white);
  position: relative;
  align-content: center;
}

header .hero h1 {
  font-size: 4rem;
  font-weight: 500;
}

/* RESPONSIVE HERO SECTION */

@media (max-width: 1250px) {
  #search {
    max-width: 750px;
  }
}

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  header .hero {
    padding: 6rem 5rem;
  }

  header .hero h1 {
    font-size: 2.5rem;
  }

  header .hero p {
    font-size: 1rem;
    width: 70%;
  }
}

@media (max-width: 500px) {
  header .hero {
    padding: 2rem;
    height: 30vh;
  }

  header .hero h1 {
    font-size: 2rem;
  }

  header .hero p {
    font-size: 0.9rem;
  }
}

main {
  padding: 5em 9em 0 9em;
}

@media (max-width: 1024px) {
  main {
    padding: 3em 5em 0 5em;
  }
}

@media (max-width: 768px) {
  main {
    padding: 2em 3em 0 3em;
  }
}

@media (max-width: 500px) {
  main {
    padding: 1em 1em 0 1em;
  }
}

/* Breadcrumb Section */
.breadcrumb {
  font-size: var(--paragraph);
  color: var(--gray-1);
}

.breadcrumb p {
  margin-left: 1.2rem;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    color: var(--gray-1);
  }
}

/* How to Apply Page CSS */
.apply-intro {
  text-align: justify;
  margin: 3rem 0;
  padding: 0 1.5rem;
  margin-top: 7rem;
  margin-bottom: 10rem;
}

.apply-intro h1 {
  font-size: 2.5rem;
  color: var(--black);
  margin-bottom: 3rem;
}

.apply-intro p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.apply-intro .highlight {
  font-weight: bold;
  color: var(--primary);
}

/* Step by Step Guide */
.step-guide {
  background-color: var(--primary);
  color: var(--white);
  padding: 4rem;
  margin: 4rem 0;
  height: 600px;
}

.step-header {
  text-align: left;
  margin-bottom: 2rem;
}

.step-header h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.step-header p {
  font-size: 1.2rem;
  margin-bottom: 4rem;
  color: var(--gray-2);
}

.step-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.step {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem 1.5rem;
  text-align: left;
  transition: background-color 0.3s ease;
}

.step:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.step h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--white);
}

.step h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.step p {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gray-2);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .step-container {
    flex-direction: column;
  }

  .step {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
    .step-guide {
        height: auto !important;
        padding: 2rem;
      }
    
}

/* Call to Action Section */
.cta-section {
  text-align: center;
  margin: 12rem 0;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-section h2 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.cta-section p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 4rem;
  max-width: 700px;
  color: var(--gray-1);
  text-align: center;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.cta-btn,
.cta-btn-alt {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.8rem 2rem;
  text-decoration: none;
  font-weight: 500;
  flex: 1;
  text-align: center;
  min-width: 250px;
}

.cta-btn-alt {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}

/* Responsive Design */
@media (max-width: 768px) {

    .cta-section {
        margin-top: 2rem;
        margin-bottom: 0;
      }
  .cta-section p {
    max-width: 90%;
    margin: 0 auto 4rem auto;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 1rem;
  }
}


/* Related Topics Section */
.related-topics {
  text-align: left;
  margin: 3rem 0;
}

.related-topics h2 {
  font-size: 1.5rem;
  color: var(--black);
  margin-bottom: 4rem;
}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.topic-card {
  position: relative;
  overflow: hidden;
}

.topic-card a {
  display: block;
  position: relative;
}

.topic-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.topic-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0;
  transition: opacity 0.3s;
}

.topic-card .topic-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}

.topic-card a:hover img {
  transform: scale(1.05);
}

.topic-card a:hover .overlay {
  opacity: 1; 
}

.topic-card a:hover .topic-title {
  opacity: 1; 
}

/* Responsive Design */
@media (max-width: 768px) {

    .related-topics {
        margin-top: 5rem;
    }
  .topics-grid {
    grid-template-columns: 1fr;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .topics-grid {
    grid-template-columns: 1fr;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 1rem;
  }
}

/* FAQs Section */
.faqs__section {
  margin: 50px 1.2rem 0 1.2rem;
  min-height: 600px;
  overflow: auto;
}

.faqs__section h2 {
  font-size: var(--medium-heading);
  font-weight: 600;
  margin: 4rem 0 4rem 0;
  color: var(--black);
  font-family: var(--primary-font);
  text-align: left;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  font-size: 1.5rem;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  font-size: 1.5rem;
}

.panel {
  padding: 0px 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  padding: 20px 0;
}

/* Accordion Section Responsiveness */
@media (max-width: 1024px) {
  .faqs__section {
    margin: 30px 1rem 0 1rem;
  }

  .faqs__section h2 {
    font-size: 1.5rem;
  }

  .accordion {
    font-size: 14px;
  }

  .panel p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .faqs__section {
    margin: 20px 0.5rem 0 0.5rem;
  }

  .faqs__section h2 {
    font-size: 1.2rem;
  }

  .accordion {
    font-size: 13px;
    padding: 15px;
  }

  .panel p {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .faqs__section {
    margin: 15px 1.2rem 0 1.2rem;
    min-height: 350px;
  }

  .faqs__section h2 {
    font-size: 1.2rem;
  }

  .accordion {
    font-size: 12px;
    padding: 10px;
  }

  .panel p {
    font-size: 12px;
  }
}




/* FOOTER SECTION */

.footer__section {
    margin-top: 50px;
    padding-bottom: 100px;
    height: auto;
    background-color: var(--secondary);
    color: var(--white);
  
    .footer-container {
      padding-top: 4rem;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;
  
      a {
        text-decoration: none;
        color: var(--white);
        font-size: 0.9rem;
      }
  
      li {
        list-style: none;
        padding-top: 1rem;
      }
  
      .footer-section {
        .logo-sec p {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
          max-width: 250px;
        }
  
        h3 {
          padding-bottom: 1rem;
        }
  
        .logo-sec a {
          font-size: 1.5rem;
        }
  
        .logo-sec a span {
          font-weight: lighter;
        }
  
        a i {
          font-size: 1.5rem;
          padding-right: 1rem;
          padding-top: 2.5rem;
        }
  
        .contact-us,
        .help {
          padding-top: 2rem;
        }
      }
    }
  
    .footer-bottom {
      padding-top: 2rem;
      padding-left: 6.5rem;
    }
  
    .unlink {
      cursor: default;
    }
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1024px) {
    .footer__section {
      .footer-section {
        flex: 1;
        width: 100%;
        padding: 20px 30px;
        text-align: left;
      }
  
      .footer-bottom {
        padding-left: 2rem;
      }
    }
  }
  
  @media (max-width: 768px) {
    .footer__section {
      padding-bottom: 50px;
  
      .footer-container {
        padding-top: 2rem;
      }
  
      .footer-section {
        flex: none;
      }
  
      .footer-section.section {
        display: none;
      }
    }
  }
  
  @media (max-width: 480px) {
    .footer__section {
      padding-bottom: 30px;
  
      .footer-container {
        padding-top: 1rem;
      }
  
      .footer-section {
        h3 {
          font-size: 1rem;
        }
  
        a {
          font-size: 0.7rem;
        }
  
        .logo-sec a {
          font-size: 1rem;
        }
  
        a i {
          font-size: 1rem;
        }
      }
    }
  }


/* Page Vote Section */

.page__vote__section {
  margin: 0;

  p {
    margin-bottom: 1.5rem;
    font-weight: 700;
  }
}

.page__vote__section .buttons {
  display: flex;
  flex-wrap: nowrap;
}

.page__vote__section .buttons button {
  background-color: var(--white);
  width: 200px;
  height: 45px;
  margin-right: 1rem;
  user-select: none;
  cursor: pointer;
  border: 2px solid var(--primary);
  transition: background-color 0.3s, color 0.3s;
}

.page__vote__section .buttons button:hover {
  background-color: var(--primary);
  color: var(--white);
}