{% extends "pages/base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %} 
{% block content %}
<section class="toggle__section">
  <div class="container">
    <div class="tab-wrap">
      <input type="radio" id="tab4" name="tabGroup2" class="tab" checked />
      <label for="tab4">GENERAL</label>
      <input type="radio" id="tab5" name="tabGroup2" class="tab" />
      <label for="tab5">COMMUNITY</label>
      <input type="radio" id="tab6" name="tabGroup2" class="tab" />
      <label for="tab6">KEY DATES</label>
      <input type="radio" id="tab7" name="tabGroup2" class="tab" />
      <label for="tab7">MEDIA</label>
      <input type="radio" id="tab8" name="tabGroup2" class="tab" />
      <label for="tab8">USEFUL LINKS</label>

      <div class="tab__content">
        <div class="toggle-containers">
          <div class="toggle-grid">
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-book"></i>
                <p>UNDERGRADUATE STUDIES</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-graduation-cap"></i>
                <p>GRADUATE STUDIES</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-user-tie"></i>
                <p>PROFESSIONAL PROGRAMS</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-clock"></i>
                <p>PART-TIME PROGRAM</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-globe"></i>
                <p>DISTANCE LEARNING</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-plane"></i>
                <p>INTERNATIONAL APPLICANT</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="tab__content">
        <div class="toggle-containers">
          <div class="toggle-grid">
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-users"></i>
                <p>STUDENT ORGANIZATIONS</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-hands-helping"></i>
                <p>VOLUNTEER OPPORTUNITIES</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-heartbeat"></i>
                <p>HEALTH AND WELLNESS</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-calendar-alt"></i>
                <p>ON-CAMPUS EVENTS</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-briefcase"></i>
                <p>INTERNSHIP PROGRAMS</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-network-wired"></i>
                <p>ALUMNI AND NETWORKING</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="tab__content">
        <div class="toggle-containers">
          <div class="toggle-grid">
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-calendar-check"></i>
                <p>APPLICATION DEADLINES</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-calendar-alt"></i>
                <p>ACADEMIC CALENDAR</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-pencil-alt"></i>
                <p>ENTRANCE EXAMINATION</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-calendar-plus"></i>
                <p>ENROLLMENT DATES</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-calendar-day"></i>
                <p>ORIENTATION WEEK</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-award"></i>
                <p>GRADUATION DATES</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="tab__content">
        <div class="toggle-containers">
          <div class="toggle-grid">
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-newspaper"></i>
                <p>PRESS RELEASES</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-video"></i>
                <p>VIDEO GALLERY</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-images"></i>
                <p>PHOTO GALLERY</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-university"></i>
                <p>STUDENT LIFE</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-bullhorn"></i>
                <p>ANNOUNCEMENTS</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-comment-dots"></i>
                <p>STUDENT TESTIMONIALS</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="tab__content">
        <div class="toggle-containers">
          <div class="toggle-grid">
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>FINANCIAL AID RESOURCES</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-briefcase"></i>
                <p>CAREER SERVICES</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-clipboard-list"></i>
                <p>APPLICATION GUIDELINES</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-book"></i>
                <p>LIBRARY RESOURCES</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-laptop"></i>
                <p>ONLINE LEARNING PORTAL</p>
              </div>
            </a>
            <a href="{% url 'page-under-construction' %}">
              <div class="grid">
                <i class="fa-solid fa-question-circle"></i>
                <p>STUDENT SUPPORT SERVICES</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="journey__section">
  <div class="row">
    <div class="image-wrapper">
      <img src="{% static 'images/left-img.png' %}" alt="" />
    </div>
    <div class="content-wrapper">
      <div class="content">
        <span class="text-wrapper"> <span></span>Refined approach </span>
        <h2>Your Personalized Journey to Tertiary</h2>
        <p>
          Embark on your educational adventure here. Let us guide you through
          each step as you forge your path to academic success.
        </p>
        <div class="buttons">
          <button class="undergrad-btn">Undergraduate Applicant</button>
          <button class="graduate-btn">Graduate Applicant</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog__section">
  <span class="text-wrapper"><span></span>Blog</span>
  <div class="blog-container">
    {% for post in latest_posts %}
    <div class="blog-card">
      {% if post.featured_image %}
      {% image post.featured_image original %}
      {% endif %}
      <div class="blog-content">
        <a href="{{ post.url }}">
          <p>{{ post.title|truncatechars:80 }}</p>
        </a>
        <span>{{ post.date|date:"F d, Y" }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if blog_index_page %}
  <a href="{% pageurl blog_index_page %}" class="blog-button">View Blog</a>
  {% else %}
    <p>Blog page not available</p>
  {% endif %}
</section>

<section class="social__proof__section">
  <div class="proof-container">
    <div class="proof-heading">
      <h4>Explore Vast Course Offerings and Diverse Universities</h4>
    </div>
    <div class="stats">
      <div class="stat-1">
        <h2 class="counter" data-target="300">0</h2>
        <span>+</span>
        <p>Undergraduate Courses</p>
      </div>
      <div class="stat-2">
        <h2 class="counter" data-target="1000">0</h2>
        <span>+</span>
        <p>Graduate Courses</p>
      </div>
      <div class="stat-3">
        <h2 class="counter" data-target="500">0</h2>
        <span>+</span>
        <p>Universities</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
