{% extends "pages/base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %} 
{% block content %}
<section class="toggle__section">
  <div class="container">
    <div class="tab-wrap">
      <input type="radio" id="tab4" name="tabGroup2" class="tab" checked />
      <label for="tab4">GENERAL</label>
      <input type="radio" id="tab5" name="tabGroup2" class="tab" />
      <label for="tab5">COMMUNITY</label>
      <input type="radio" id="tab6" name="tabGroup2" class="tab" />
      <label for="tab6">KEY DATES</label>
      <input type="radio" id="tab7" name="tabGroup2" class="tab" />
      <label for="tab7">MEDIA</label>
      <input type="radio" id="tab8" name="tabGroup2" class="tab" />
      <label for="tab8">USEFUL LINKS</label>

      <div class="tab__content">
        <div class="toggle-containers">
          <div class="toggle-grid">
            <a href="https://www.google.com">
              <div class="grid">
                <i class="fa-solid fa-book"></i>
                <p>UNDERGRADUATE STUDIES</p>
              </div>
            </a>
            <a href="">
              <div class="grid">
                <i class="fa-solid fa-graduation-cap"></i>
                <p>GRADUATE STUDIES</p>
              </div>
            </a>
            <a href="">
              <div class="grid">
                <i class="fa-solid fa-user-tie"></i>
                <p>PROFESSIONAL PROGRAMS</p>
              </div>
            </a>
            <a href="">
              <div class="grid">
                <i class="fa-solid fa-clock"></i>
                <p>PART-TIME PROGRAM</p>
              </div>
            </a>
            <a href="">
              <div class="grid">
                <i class="fa-solid fa-globe"></i>
                <p>DISTANCE LEARNING</p>
              </div>
            </a>
            <a href="">
              <div class="grid">
                <i class="fa-solid fa-plane"></i>
                <p>INTERNATIONAL APPLICANT</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="tab__content">
        <h3>A huge community to welcome you</h3>
        <p>
          Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum
          turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl.
          Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet
          nec, vulputate eget, arcu.
        </p>
        <ul>
          <li><a href="#">Student Organizations</a>: A list of active student organizations, clubs, and societies.</li>
          <li><a href="#">Events and Workshops</a>: Upcoming events, workshops, and webinars.</li>
          <li><a href="#">Alumni Network</a>: A section showcasing notable alumni and their achievements.</li>
          <li><a href="#">Volunteer Opportunities</a>: Information on volunteer work and how students can get involved.</li>
      </ul>
      </div>

      <div class="tab__content">
        <h3>Dates you dont want to miss</h3>
        <ul>
          <li><a href="#">Application Deadlines</a>: Important dates for application submissions.</li>
          <li><a href="#">Examination Schedule</a>: Tentative exam schedules.</li>
          <li><a href="#">Holiday Calendar</a>: Key holidays during the academic year.</li>
          <li><a href="#">Enrollment Dates</a>: Dates for enrollment periods, including add/drop deadlines.</li>
      </ul>
      </div>

      <div class="tab__content">
        <h3>Kiwis</h3>
        <p>Praesent nonummy mi in odio.</p>
      </div>

      <div class="tab__content">
        <h3>Get access to opportunities here</h3>
        <ul>
          <li><a href="#">Scholarship Opportunities</a>: Links to internal and external scholarship programs.</li>
          <li><a href="#">Career Services</a>: Access to career services, job boards, and internships.</li>
          <li><a href="#">Academic Calendar</a>: A downloadable academic calendar.</li>
          <li><a href="#">Library Resources</a>: Links to the university’s digital library, databases, and other resources.</li>
      </ul>
      </div>
    </div>
  </div>
</section>

<section class="journey__section">
  <div class="row">
    <div class="image-wrapper">
      <img src="{% static 'images/left-img.png' %}" alt="" />
    </div>
    <div class="content-wrapper">
      <div class="content">
        <span class="text-wrapper"> <span></span>Refined approach </span>
        <h2>Your Personalized Journey to Tertiary</h2>
        <p>
          Embark on your educational adventure here. Let us guide you through
          each step as you forge your path to academic success.
        </p>
        <div class="buttons">
          <button class="undergrad-btn">Undergraduate Applicant</button>
          <button class="graduate-btn">Graduate Applicant</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog__section">
  <span class="text-wrapper"><span></span>Blog</span>
  <div class="blog-container">
    {% for post in latest_posts %}
    <div class="blog-card">
      {% if post.featured_image %}
      {% image post.featured_image original %}
      {% endif %}
      <div class="blog-content">
        <a href="{{ post.url }}">
          <p>{{ post.title|truncatechars:80 }}</p>
        </a>
        <span>{{ post.date|date:"F d, Y" }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  <a href="{% pageurl blog_index_page %}"><button>Read More</button></a>
</section>

<section class="social__proof__section">
  <div class="proof-container">
    <div class="proof-heading">
      <h4>Explore Vast Course Offerings and Diverse Universities</h4>
    </div>
    <div class="stats">
      <div class="stat-1">
        <h2 class="counter" data-target="300">0</h2>
        <span>+</span>
        <p>Undergraduate Courses</p>
      </div>
      <div class="stat-2">
        <h2 class="counter" data-target="1000">0</h2>
        <span>+</span>
        <p>Graduate Courses</p>
      </div>
      <div class="stat-3">
        <h2 class="counter" data-target="500">0</h2>
        <span>+</span>
        <p>Universities</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
