{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ university.name }}</title>
    <link rel="stylesheet" href="{% static 'css/institution.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="main-container">
      <!-- Header -->
      <header>
        <nav class="navbar">
          <div class="left-side">
            <a href="/" class="nav-logo">uni<span>App</span></a>
          </div>
          <div class="hamburger" id="hamburger">
            <i class="fa fa-bars" id="bars-icon"></i>
          </div>
          <div class="right-side" id="right-side">
            <ul class="nav-links">
              <li>
                <a class="nav-special" href="{% url 'how-to-apply' %}"
                  >Resources</a
                >
              </li>
              <li>
                <a class="nav-special" href="{% url 'search-page' %}"
                  >Institutions</a
                >
              </li>
              <li><a class="nav-special" href="{% url 'about' %}">About</a></li>
              {% if user.is_authenticated %}
              <li class="special">
                <a href="{% url 'profile-update' %}">Profile</a>
              </li>
              <li class="special">
                <a href="{% url 'favorites' %}">Favorites</a>
              </li>
              {% else %}
              <li class="special">
                <a href="{% url 'register' %}">Register</a>
              </li>
              <li class="special"><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
        <div
          class="hero"
          style="background-image: url('{{ university.banner.url }}');"
        >
          <h1>University of Ghana</h1>
          <div class="cta-buttons">
            {% if university.undergraduate_program_url %}
            <a
              href="{{ university.undergraduate_program_url }}"
              class="cta-btn"
            >
              Undergraduate
              <i class="fa-solid fa-up-right-from-square"></i>
            </a>
            {% endif %} {% if university.graduate_program_url %}
            <a
              href="{{ university.graduate_program_url }}"
              class="cta-btn cta-btn-alt"
            >
              Graduate
              <i class="fa-solid fa-up-right-from-square"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </header>

      <main>
        <!-- <div class="breadcrumb">
          <p>
            {% for item in breadcrumb %}
              {% if forloop.first %}
                <a href="{{ item.url }}">{{ item.title }}</a>
              {% elif forloop.last %}
                <span>{{ item.title }}</span>
              {% else %}
                <a href="{{ item.url }}">{{ item.title }}</a>
              {% endif %}
              {% if not forloop.last %}
                <span class="breadcrumb-separator">&gt;</span>
              {% endif %}
            {% endfor %}
          </p>
        </div> -->

        <!-- About Section -->
        <section class="about-section">
          <div class="about-header">
            <h2>About {{ university.abbreviation|default:university.name }}</h2>
            <img
              src="{{ university.logo.url }}"
              alt="University of Ghana Logo"
              class="uni-logo"
            />
          </div>
          {% for paragraph in university.about_paragraphs.all %}
          <p>{{ paragraph.content }}</p>
          {% empty %}
          <p>No information available.</p>
          {% endfor %}
        </section>

        <!-- Academic programmes -->
        <section class="academic-programes">
          <h2>Academic programs</h2>
          <p>
            The University of Ghana provides an extensive selection of courses
            across multiple fields of study. These encompass:
          </p>
          <ul>
            {% for program in university.academic_programs.all %}
            <li>{{ program.name }}</li>
            {% endfor %}
          </ul>
          <p>
            Additionally, the university offers a variety of advanced programs,
            including master’s and doctoral degrees in diverse areas.
          </p>
        </section>

        <!-- General Entry Requirements -->
        <section class="entry-requirements">
          <h2>General entry requirements</h2>
          <ol>
            {% for requirement in university.general_requirements.all %}
            <li>{{ requirement.requirement }}</li>
            {% endfor %}
          </ol>
        </section>

        <!-- Location Section -->
        <section class="location-section">
          <h2>Address</h2>
          <p>
            {{ university.address_line1 }}<br />
            {{ university.address_line2 }}<br />
            {{ university.address_line3 }}
          </p>
          <p>
            Website:
            <a href="{{ university.website_url }}"
              >{{ university.website_url }}</a
            >
          </p>
          <div class="social-icons">
            {% if university.twitter %}
            <a href="{{ university.twitter }}"
              ><i class="fa-brands fa-x-twitter"></i
            ></a>
            {% endif %} {% if university.instagram %}
            <a href="{{ university.instagram }}"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            {% endif %} {% if university.facebook %}
            <a href="{{ university.facebook }}"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            {% endif %} {% if university.linkedin %}
            <a href="{{ university.linkedin }}"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            {% endif %}
          </div>
          <div class="map">
            {% if university.map_location %}
            <div class="map">
              <iframe
                src="{{ university.map_location }}"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
            {% else %}
            <p>Map not available.</p>
            {% endif %}
          </div>
        </section>

        <!-- Resources Section -->
        <section class="faqs__section">
          <h2>Resources</h2>
          <button class="accordion">Additional information</button>
          <div class="panel">
            <p>
              Sign up, set preferences, explore options, and connect directly
              with universities — all in one seamless platform.
            </p>
          </div>

          <button class="accordion">Discover</button>
          <div class="panel">
            <p>
              We prioritize data protection and transparency. You have the right
              to manage your information in your account settings.
            </p>
          </div>

          <button class="accordion">Useful Links</button>
          <div class="panel">
            <p>These are some useful links to other websites</p>
          </div>
        </section>

        <!-- Page Vote Section -->

        <section class="page__vote__section">
          <p id="page-vote-text">Was this page helpful?</p>
          <div class="buttons" id="feedback-buttons">
            <button class="yes-btn" id="yes-btn">Yes</button>
            <button class="no-btn" id="no-btn">No</button>
          </div>
          <div
            class="thank-you-message"
            id="thank-you-message"
            style="display: none"
          >
            <p>Thank you for your feedback!</p>
            <div class="survey-link">
              <p style="font-weight: normal">
                If you have more feedback, please fill out our survey
                <a href="https://www.surveymonkey.com/r/HVK6DV7" target="_blank"
                  >here</a
                >
              </p>
            </div>
          </div>
        </section>
      </main>

      <!-- FOOTER -->
      <footer class="footer__section">
        <div class="footer-container">
          <div class="footer-section">
            <div class="logo-sec">
              <a href="#" class="footer-logo">uni<span>App</span></a>
              <p>Start your tertiary education journey with ease.</p>
            </div>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-regular fa-envelope"></i></a>
            </div>
          </div>
          <div class="footer-section section">
            <h3>Features</h3>
            <ul>
              <li><a class="unlink" href="#">Advanced Search Filters</a></li>
              <li>
                <a class="unlink" href="#">Geo-Based Recommendations</a>
              </li>
              <li><a class="unlink" href="#">User Account Management</a></li>
              <li>
                <a class="unlink" href="#">Interactive User Interface</a>
              </li>
              <li><a class="unlink" href="#">Blog Posts</a></li>
              <li><a class="unlink" href="#">Media News</a></li>
              <li><a class="unlink" href="#">FAQs & Support</a></li>
              <li><a class="unlink" href="#">Multilingual Support</a></li>
              <li><a class="unlink" href="#">Data Security</a></li>
            </ul>
          </div>

          <div class="footer-section">
            <div class="company">
              <h3>Company</h3>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Mail Us</a></li>
              </ul>
            </div>

            <div class="contact-us">
              <h3>Contact Us</h3>
              <ul>
                <li><a class="unlink" href="#">uniapp135@gmail.com</a></li>
                <li><a class="unlink" href="#">+233 544 72 6002</a></li>
                <li><a class="unlink" href="#">East Legon 1124-Ave</a></li>
                <li><a class="unlink" href="#">Accra, Ghana</a></li>
              </ul>
            </div>
          </div>

          <div class="footer-section">
            <div class="more-info">
              <h3>More Info</h3>
              <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Platform Updates</a></li>
                <li><a href="#">Community Engagement</a></li>
              </ul>
            </div>

            <div class="help">
              <h3>Help & Support</h3>
              <ul>
                <li><a href="#">Getting Started FAQs</a></li>
                <li><a href="#">User Guide</a></li>
                <li><a href="#">Technical Support</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; <span id="currentYear"></span> GUAS Uni Applications.</p>
          <p>All rights reserved.</p>
        </div>
      </footer>
    </div>

    <script>
      function showThankYouMessage() {
        document.getElementById("feedback-buttons").style.display = "none";
        document.getElementById("thank-you-message").style.display = "block";
        document.getElementById("page-vote-text").style.display = "none";
      }

      function submitFeedback(feedback) {
        $.ajax({
          type: "POST",
          url: "{% url 'submit_feedback' %}",
          data: {
            feedback: feedback,
            page: "uni page",
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
            console.log(response.message);
          },
          error: function (response) {
            console.log(response.responseJSON.message);
          },
        });
      }

      document.addEventListener("DOMContentLoaded", function () {
        document
          .getElementById("yes-btn")
          .addEventListener("click", function () {
            submitFeedback("Yes");
            showThankYouMessage();
          });

        document
          .getElementById("no-btn")
          .addEventListener("click", function () {
            submitFeedback("No");
            showThankYouMessage();
          });
      });
    </script>
    <script src="{% static 'js/about.js' %}"></script>
  </body>
</html>
