{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  </head>
  <body>
    <section>
      <div class="logo">
        <p>uni<span>App</span></p>
      </div>
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <p>{{ message }}</p>
        <span
          class="alert-close"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
      </div>
      {% endfor %}
      <div class="wrapper">
        <div class="form-wrapper forgot">
          <form method="post">
            {% csrf_token %}
            <h2>Forgot password?</h2>
            <p>No worries, we will send you reset instructions.</p>
            <p>Enter the email you registered with</p>

            <div class="input-group">
              <input
                type="email"
                id="email"
                name="email"
                required
                autocomplete="email"
              />
              <label for="email">Email</label>
            </div>

            <button type="submit" class="send-mail-btn">
              <span>Continue</span>
            </button>
            <div class="back">
              <i class="fa-solid fa-arrow-left"></i>
              <a href="{% url 'login' %}" class="back-to-login"
                >Back to login</a
              >
            </div>
          </form>
        </div>
      </div>
      <div class="image-box">
        <img
          src="{% static 'images/reset-img.png' %}"
          alt="young-man-smiling"
        />
      </div>
    </section>
    <script>
      // Function to remove messages after 5 seconds
      setTimeout(function () {
        var alertMessages = document.querySelectorAll(".alert");
        alertMessages.forEach(function (alert) {
          alert.remove();
        });
      }, 5000);
    </script>
  </body>
</html>
